<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deng.springbootinit.mapper.BookContentMapper">

    <resultMap id="BaseResultMap" type="com.deng.springbootinit.model.entity.BookContent">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="chapterId" column="chapterId" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,chapterId,content,
        createTime,updateTime
    </sql>
    <select id="getBookContent" resultType="com.deng.springbootinit.model.dto.book.BookContentQueryResponse">
        select a.content, b.chapterName, b.isVip, b.wordCount
        from book_content a,
             book_chapter b
        where a.chapterId = b.id
          and b.bookId = #{id} order by b.chapterNum limit 1;
    </select>
</mapper>
