<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deng.springbootinit.mapper.BookInfoMapper">

    <resultMap id="BaseResultMap" type="com.deng.springbootinit.model.entity.BookInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="workDirection" column="workDirection" jdbcType="TINYINT"/>
            <result property="categoryId" column="categoryId" jdbcType="BIGINT"/>
            <result property="categoryName" column="categoryName" jdbcType="VARCHAR"/>
            <result property="picUrl" column="picUrl" jdbcType="VARCHAR"/>
            <result property="bookName" column="bookName" jdbcType="VARCHAR"/>
            <result property="authorId" column="authorId" jdbcType="BIGINT"/>
            <result property="authorName" column="authorName" jdbcType="VARCHAR"/>
            <result property="bookDesc" column="bookDesc" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="TINYINT"/>
            <result property="bookStatus" column="bookStatus" jdbcType="TINYINT"/>
            <result property="visitCount" column="visitCount" jdbcType="BIGINT"/>
            <result property="wordCount" column="wordCount" jdbcType="INTEGER"/>
            <result property="commentCount" column="commentCount" jdbcType="INTEGER"/>
            <result property="lastChapterId" column="lastChapterId" jdbcType="BIGINT"/>
            <result property="lastChapterName" column="lastChapterName" jdbcType="VARCHAR"/>
            <result property="lastChapterUpdateTime" column="lastChapterUpdateTime" jdbcType="TIMESTAMP"/>
            <result property="isVip" column="isVip" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,workDirection,categoryId,
        categoryName,picUrl,bookName,
        authorId,authorName,bookDesc,
        score,bookStatus,visitCount,
        wordCount,commentCount,lastChapterId,
        lastChapterName,lastChapterUpdateTime,isVip,
        createTime,updateTime
    </sql>
    <select id="listBookInfo" resultType="com.deng.springbootinit.model.entity.BookInfo">
        select * from book_info where updateTime >= #{minUpdateTime}
    </select>
</mapper>
